<div id="empty"></div>
<div class="container">
  <h1>Tambis Feed</h1>
    <% @graphs.each do |graph| %>
      <div class="panel panel-default col-md-3 thumbnail feed">
        <div class="panel-body">
          <%= link_to user_graph_path(user_id: graph.user, id: graph) do %>
             <h3><%= graph.title %></h3>
           <% end %>
          <h5><em><%= graph.user.username %></em></h5>
          <h6><em><%= 'Collaborative' if graph.public %></em></h6>
          <div><%= graph.description %></div>
        </div>
      </div>
    <% end %>
</div>