<div id="empty"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <%= image_tag(current_user.image.url(:thumb), class: "img-avatar") %>
              </div>
              <div class="col-md-8 col-xs-12">
                <h6>Username</h6>
                <h4><%= current_user.username %></h4>
              </div>
            </div>
            <div class="row">
              <h6>Bio</h6>
              <h5><%= current_user.bio %></h5>
            </div>
          </div>
        </div>
     </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Your Tambis</div>
         <div class="panel-body">
          <ul class="list-group">
            <% @graphs.each do |graph| %>
                <li class="list-group-item">
              <%= link_to user_graph_path(user_id: current_user, id: graph) do %>
                  <%= graph.title %>
              <% end %>
                  <small><strong><%= 'Collaborative' if graph.public %></strong></small>
                  <small><strong><%= 'Private' if graph.private %></strong></small>
                  <%= link_to( user_graph_path(user_id: current_user, id: graph) ,{ confirm: "Are you sure you want to delete this canvas?", method: :delete, :class => 'badge'}) do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
                  <%= link_to( edit_user_graph_path(user_id: current_user, id: graph) , { class: 'badge'}) do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                  <span class='small' ><%= graph.description %></span>
                </li>
            <% end %>
          </ul>
          <div class="panel panel-default">
            <div class="panel-heading">Create a new Tambi</div>
              <div class="panel-body">
                <%= render 'form', text: 'Create' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>